/* background colors */
:root{
    --my-bg-green: #009688;
    --my-bg-light: #d9dbd5;
    --user-bg: #eaeaea;
    --notif-bg: #8edafc;
    --sent-msg: #d5f9ba;
    --active-chat: rgb(120, 120, 120);
}
*{
    font-size: 12px;
}
/* general */

/* -----------------------*/
/*          colors        */
.bg-wrapper{
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: relative;
    background: linear-gradient(180deg, #009688 15%, #DDDBD2 15%);
}

.user-bg{
    background-color: var(--user-bg);
}
.notification-bg{
    background-color: var(--notif-bg);
}
.light-bg{
    background-color: var(--user-bg);
}
/*           main  css       */
.line-height{
    height: 4.6rem;
}
#app{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 500;
    color: black;
    height: calc(100% - 2rem);
}
.main-chat{
    border: 1px solid white;

    width: 70%;
    height: 100%;
}

/* sidebar styling  */ 
.sidebar{
    width: 30%;
    height: 100%;
    overflow: hidden;
    background-color: var(--user-bg);
    border: 1px solid var(--my-bg-light);
}
.user-bg i{
    font-size: 1.3rem;
}
.pro-pic{
    margin: 0.6rem;
    width: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.pro-pic img{
    max-width: 100%;
}
.pro-pic i{
    color: var(--notif-bg);
    font-size: 1.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    background-color: white;
}
.notif-act{
    font-size: 80%;
    cursor: pointer;
}
.search-wrap{
    height: 2.6rem;
}
.search{
    background-color: white;
    border: 1px solid var(--my-bg-light);
}
.search input{
    width: 80%;
    border: 0;
    font-size: 90%;
}
.search button{
    width: calc(20% - 0.4rem);
}
.contacts{
    overflow-y: auto;
    height: calc(100% - (9.2rem + 2.6rem));

}
.contact{
    border-bottom: 1px dotted white;
    cursor: pointer;
}
.last-msg{
    font-size: 80%;
}
.active{
    background-color: var(--active-chat) ;
}
.contacts .last-msg{
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



 /* active chat */
.main-chat{
     overflow: hidden;
}
 .active-chat{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
 }
.active-chat .icons{
    width: 10%;
}
.new-msg{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.msg input{
    width: 80%;
}
.chat-content{
    overflow-y: auto;
    margin-top: 4.6rem;
    height:calc(100% - 9.2rem);
    background-image: url(../img/mine.jpg);
    flex: 0 0 0;
}
.chat-baloon{
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 60%;
    min-width: 20%;
    word-break: break-all;

}
.sent{
    background-color: var(--sent-msg);
    align-self: flex-end;
}
.received{
    background-color: white;
    align-self: flex-start;

}
sub{
    font-size: 70%;
    display: inline-block;
}