/* background colors */
:root{
    --my-bg-green: #009688;
    --my-bg-light: #d9dbd5;
    --user-bg: #eaeaea;
    --notif-bg: #8edafc;
    --sent-msg: #d5f9ba;
    --active-chat: rgba(120, 120, 120, 0.45);
}
*{
    font-size: 12px;
}
/* general */

/* -----------------------*/
/*          colors        */
.bg-wrapper{ /* 2 colors background */
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: relative;
    background: linear-gradient(180deg, #009688 15%, #DDDBD2 15%);
}
.light-bg{ /* lightgrey background */
    background-color: var(--user-bg);
}
.notification-bg{ /* cyan background */
    background-color: var(--notif-bg);
}

/*           main  css       */
.line-height{ /* create a standard heigth for lines */
    height: 4.6rem;
}
#app{ /* app position */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 500;
    color: black;
    height: calc(100% - 2rem);
}
.main-chat{
    border: 1px solid white;

    width: 70%;
    height: 100%;
}

/* sidebar styling  */ 
.sidebar{
    width: 30%;
    height: 100%;
    overflow: hidden;
    background-color: var(--user-bg);
    border: 1px solid var(--my-bg-light);
}
.static-content i{
    font-size: 1.2rem;
}
.pro-pic{ /* creation of a propic circle */
    margin: 0.6rem;
    width: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.pro-pic img{
    max-width: 100%;
}
.pro-pic i{
    color: var(--notif-bg);
    font-size: 1.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    background-color: white;
}
.notif-act{
    font-size: 80%;
    cursor: pointer;
}
.search-wrap{ /* different line heigth */
    height: 2.6rem;
}
.search{
    background-color: white;
    border: 1px solid var(--my-bg-light);
}
.search input{
    width: 80%;
    border: 0;
    font-size: 90%;
}
.search button{
    width: calc(20% - 0.4rem);
}
.contacts{
    overflow-y: auto;
    height: calc(100% - (9.2rem + 2.6rem));

}
.contact{
    border-bottom: 1px dotted white;
    cursor: pointer;
}
.last-msg{
    font-size: 80%;
}
.active{
    background-color: var(--active-chat) ;
}
.contacts .last-msg{
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



 /* active chat */
.main-chat{
     overflow: hidden;
}
 .active-chat{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
 }
.active-chat .icons{
    width: 10%;
}
.new-msg{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.msg input{
    width: 80%;
}
.chat-content{ /* chat viewer size and pos */
    overflow-y: auto;
    margin-top: 4.6rem;
    height:calc(100% - 9.2rem);
    background-image: url(../img/mine.jpg);
    flex: 0 0 0;
}
.chat-baloon{ /* chat baloon common styling */
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 60%;
    min-width: 20%;
    word-break: break-all;
    position: relative;

}
li{
    list-style: none;
    line-height: 1.7rem;
    cursor: pointer;
}
li:hover{
    transform: scale(1.05);
    font-weight: 500;
}
.menu{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
.drop-menu{
    font-size: 80%;
    position: absolute;
    border-radius: .6rem;
    padding: 1rem;
    top: 1rem;
    right: 2.5rem;
    z-index: 3000;
}
.sent{ /* sent msg baloon */
    background-color: var(--sent-msg);
    align-self: flex-end;
}
.received{ /* received msg baloon */
    background-color: white;
    align-self: flex-start;

}
sub{
    font-size: 70%;
    display: inline-block;
}
.main-chat .icons:last-child{
    cursor: pointer;
}
.icon-error i{
    font-size: 6rem;
}
.info{
    font-weight: 500;
    font-size: 70%;
}