<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
 
    <script src="./js/library.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div class="bg-wrapper"></div>
    <div id="app" class="container-sm p-0 my-3 d-flex align-items-center justify-content-center">
        <!-- web app divided into 2 parts -->

        <!-- sidebar -->
        <div class="sidebar" :class="{'d-none': showSomething, 'd-md-block': true}" >
            <div class="static-content light-bg">
                <div class="light-bg line-height d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="pro-pic"><img src="./img/avatar_io.jpg" alt="Sofia"></div>
                        <span>Sofia</span>
                    </div>
                    <div class="d-flex p-2 align-items-center w-25 justify-content-between mx-3 text-secondary">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="notification-bg line-height">
                    <div class="d-flex align-items-center">
                        <div class="pro-pic text-center"><i class="fa-solid fa-bell-slash"></i></div>
                        <span>
                            <div>Ricevi le notifiche di nuovi messaggi</div>
                            <div class="notif-act text-decoration-underline text-secondary">Attiva notifiche desktop</div>
                        </span>
                    </div>

                </div>
                <div class="search-wrap">
                    <div class="search d-flex align-items-center">
                        <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" class="" placeholder="Cerca o inizia una chat" v-model.trim="searchValue">
                    </div>
                </div>
            </div>
            <!-- show list of contacts only if there are more than 0 elements -->
            <div class="contacts" v-if="contacts.length > 0" >
                <!-- for every contact create a div/line -->
                <div v-for="(contact, index) in filteredContacts"  :key="contacts[index].id"  @click="switchBlock()" >
                    <!-- if u r acting on his chat, his thumb is emphasized -->
                        <div v-if="contact.messages.length > 1" @click="activeChat(contact.id)" :class="(activeChatIndex == index) ? 'active' : ''" class="light-bg contact line-height d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center" >
                                <div class="pro-pic"><img :src="`./img/avatar${contact.avatar}.jpg`" :alt="contact.name"></div>
                                <div>
                                    <h6>{{contact.name}}</h6>
                                    <div class="last-msg text-secondary">
                                        {{lastMessageReceived(contact).message}}
                                    </div>
                                </div>
                            </div>
                            <div class="last-msg text-secondary m-2">
                                {{lastMessageReceived(contact).date.split(' ')[0]}}
                                {{lastMessageReceived(contact).date.split(' ')[1].split(':')[0] + ':' + lastMessageReceived(contact).date.split(' ')[1].split(':')[1]}}
                            </div>
                        </div>
                </div>
            </div>
        </div>


        <!-- main chat -->
        <div class="main-chat position-relative" :class="{'d-none': !showSomething, 'd-md-block': true}">
            <div class="active-chat light-bg line-height d-flex align-items-center justify-content-between">
                <!-- show the person to chat only if there are contacts in your list -->
                <div v-if="contacts.length > 0" class="d-flex align-items-center">
                    <div v-show="showSomething" class="m-2" @click="switchBlock()" ><i class="fa-solid fa-caret-left"></i></div>

                    <div class="pro-pic"><img :src="`../img/avatar${contacts[activeChatIndex].avatar}.jpg`" :alt="contacts[activeChatIndex].name"></div>
                    <div>
                        <h6>{{contacts[activeChatIndex].name}}</h6>
                        <div  v-if="contacts[activeChatIndex].messages.length > 0" class="last-msg text-secondary">
                            Ultimo accesso: {{lastMessageReceived(contacts[activeChatIndex]).date}}
                        </div>
                    </div>
                    
                </div>
                <!-- empty else only to preserve the d-flex layout -->
                <div v-else></div>
                <div class="icons p-3 d-flex align-items-center justify-content-between mx-3 text-secondary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical" @click="show = !show"></i>
                    <ul v-if="show" class="drop-menu light-bg">
                        <li @click="deleteAllMessages()">Cancella tutti i messaggi</li>
                        <li @click="deleteChat()">Elimina Chat</li>
                    </ul>
                </div>
            </div>
            <!-- show the chat only if there are contacts in your list -->
            <div class="chat-content p-4" v-if="contacts.length > 0">
                <!-- for every obj in the array messages of the active chat, create a div "chat baloon" -->
                <div v-for="(messageContainer, index) in contacts[activeChatIndex].messages" class=" d-flex flex-column">
                    <!-- append class sent or received based of the obj.status property -->
                    <div v-if="messageContainer.message"  :class="messageContainer.status" class="chat-baloon m-2 d-flex justify-content-between" ref="msg">
                        <div v-html="messageContainer.message"></div>                        
                        <i class="fa-sharp fa-solid  menu" :class="messageContainer.menu ? 'fa-chevron-left' : 'fa-chevron-down'" @click.stop="menu(index)" ></i>
                        <ul v-if="msgOpt && menuIndex === index" class="drop-menu light-bg">
                            <li @click="showInfo(index)">
                                <div>Info Messaggio</div>
                                <ul>
                                    <li class="info">{{authorInfo}}</li>
                                    <li class="info">{{dateInfo}}</li>
                                </ul>
                            </li>
                            <li @click="deleteMessage(index)">Cancella Messaggio</li>
                        </ul>
                        <sub class="text-secondary text-end ms-5 align-self-end">{{messageContainer.date.split(' ')[1].split(':')[0] + ':' + messageContainer.date.split(' ')[1].split(':')[1]}}</sub>
                    </div>
                </div>

            </div>
            <!-- else display a "no chat icon" -->
            <div v-else class="chat-content icon-error d-flex align-items-center justify-content-center"> <i class="fa-solid fa-comment-slash fa-fade"></i> </div>

            <!-- new msg input -->
            <div class="new-msg line-height">
                <div class="msg light-bg d-flex align-items-center justify-content-between p-2">
                    <button class="btn emoji-btn px-5" @click="showemoji = !showemoji">
                        <i class="fa-regular fa-face-smile" ></i>
                        <div class="emoji-wrapper">
                            <div v-if="showemoji" class="emoji-list  light-bg">
                                <span v-for="(emoticon, index) in icons" :key="index" @click="addEmoji(index)" v-html="emoticon"></span>
                            </div>
                        </div>
                    </button>
                    <input type="text" class="border-0 p-3" placeholder="Scrivi un messaggio" v-model.trim="inputTextMessage" @keyup.enter="sendMessage">
                    <!-- when the input string is longer than 0, no space counted, change mic into paper-plane -->
                    <button class="btn px-5"><i class="fa-solid " :class="(inputTextMessage.length > 0) ? 'fa-paper-plane' : 'fa-microphone'" @click="sendMessage"></i></button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>